.page-not-found-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;

}


.error-container {
    height: 300px;
    width: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(12, 12, 12,.2);
}